<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my web page</title>
    style
    include style.css

</head>

<body>
    <nav class="navbar">
        <div class="menu">
            <ul>
                <li><a href="">source</a></li>
                <li><a href="">About US</a></li>
                <li><a href="">Version 0.1</a></li>
            </ul>
        </div>
        <div class="mid">
            <ul>
                <li> <a href="/home">Home</a> </li>
                <li> <a href="#">Courses</a> </li>
                <li> <a href="#">Advance courses</a> </li>
                <li> <a href="#">Mathametics</a> </li>
            </ul>
        </div>
        <div class="right">
            <a href="#">Contact us</a>
        </div>

    </nav>

    <div class="container">
        <div id="login">LOGIN</div>
        <br>

        <form action="/home" method="post">
            <br>
            <label for="userid">Username </label>
            <input type="text" name="userid" id="userid" >
            <br>
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
            <br>
            <div class="button">
                <button type="submit" >Login</button>
                <button type="reset">Reset</button>
            </div>
            <div id="signup">You have already account then<a href="signup.html" class="link"> sign up</a></div>
        </form>
    </div>
    <script>

    </script>

</body>

</html>